*{
    margin: 0;
    padding: 0;
}

html{
    background-image: linear-gradient(45deg, darkgray, black);
    height: 100vh;
}

h1{
    color: white;
    text-align: center;
    margin: 60px;
}

#calculadora {
    background-color: rgb(177, 177, 177);
    width: 290px;
    height: 420px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.377);
}

#display{
    width: 260px;
    height: 60px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(74, 94, 41);
    font-size: 40px;
    text-align: right;
}

#display::-webkit-inner-spin-button{ /*Tirando as setas do input number*/
    appearance: none;
}

button{
    width: 48px;
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 18px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.342);
}

button:hover{
    background-color: rgba(0, 0, 0, 0.521);
}

.operadores{
    background-color: rgb(212, 121, 35);
    width: 48px;
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.342);
}

.operadores:hover{
    background-color: rgba(212, 120, 35, 0.521);
}

#alert{
    background-color: rgb(230, 21, 21);
}

#alert:hover{
    background-color: rgba(230, 21, 21, 0.445);
}