body {
    background-color: rgb(25, 127, 127);
    color: white;
}

header {
    text-align: center;
}

section {
    background-color: white;
    color: black;
    width: 450px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.291);
}

div{
    text-align: center;
    padding: 10px;
}